#logo {
    width: 10%;
}

#fotoInterestellar {
    width: 20%;
}

#imagenVertigo {
    width: 20%;
    height: 20%;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
